.custom-img {
    background-image: linear-gradient( rgba(18, 16, 172, 0.5), rgba(36, 133, 179, 0.5)), url(".//banner4.png");
    opacity: 0.7;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw 83vh;
    background-attachment: fixed;
    position: relative;
    /* z-index: -1; */
    /* background-image: url("./banner4.png");
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* opacity: 0.7; */
    /* background-color: rgb(81, 81, 151); */
    /* height: 100vh !important; */
    height: 500px !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

select::-ms-expand {
    display: none;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.textOne {
    width: 400px;
    font-size: 30px;
    font-weight: 900;
}

.smText {
    width: 380px;
    font-size: 14px;
}

@media only screen and (max-width: 480px) {
    header {
        height: 100%;
        margin-top: -110px;
    }
    .smText {
        text-align: center;
        font-size: 5px !important;
    }
    .inputBox {
        align-items: center;
        align-self: start;
        margin-left: -40px;
    }
    .search-box {
        align-items: center !important;
        align-self: center !important;
        margin-left: -10rem !important;
    }
    /* input {
        align-items: center !important;
        align-self: center !important;
        margin-left: -10rem;
    } */
}

@media only screen and (max-width: 900px) {
    .smText {
        font-size: 15px !important;
    }
    .inputBox {
        align-items: center;
        width: 20em !important;
    }
    .search-box {
        align-items: center;
        margin-left: 10vw;
        align-self: center;
    }
}