/* dfkj11111111111111111!!!!!!!!!!!!!!!!!!! */

.navbar {
    align-items: baseline;
    height: 15vh;
    z-index: 1000;
    width: 100%;
    margin-bottom: -15vh !important;
}

.fa-bars {
    font-size: 30px;
    color: rgb(48, 43, 43);
}

.fa-bars:hover {
    color: black;
}

@media screen and (max-width: 480px) {
    .navbar {
        min-height: 18vh !important;
    }
    .small {
        font-size: 15px !important;
    }
    .respBtn {
        position: absolute;
        left: 70vw !important;
        top: 1vh;
        font-size: 9px !important;
    }
    .searchbox {
        margin-top: 20vh;
    }
}

@media screen and (max-width: 900px) {
    .navbar {
        height: 0vh !important;
        max-block-size: -40px !important;
    }
    .small {
        font-size: 7px !important;
    }
    .respBtn {
        position: absolute;
        left: 80vw;
        top: 1vh;
        font-size: 12px !important;
    }
    .searchbox {
        margin-top: 20vh;
        font-size: 5px !important;
    }
}


/*  for nav  */

.fullBg {
    background: url('');
    background-size: cover;
}