.overlay {
    background-color: rgba(10, 10, 10, 0.2);
    z-index: 5;
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    top: 0;
}

.overlay.open {
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(17, 44, 70);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* z-index: 1000; */
}

.sidenav.open {
    transition: 0.7s all;
    width: 350px;
    z-index: 1000;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.change {
    display: inline-block;
}

@media screen and (max-width:460px) {
    .sidenav.open {
        width: 200px;
    }
    .sidenav a {
        font-size: 20px;
    }
}